@use '../../abstracts' as *;

$-options: (
  can-generate-class: $options-layout__can-generate-class,
  can-is-component: $options-layout__is-component,
  can-set-modifier: $options-layout__can-set-modifier,
  can-set-prefix: $options-layout__can-set-prefix,
  prefix: $options-layout__prefix,
);
$-short-name: 'justify-content';
$-declarations: (
  mixins: (
    $-short-name,
  ),
  values: (
    center,
    end,
    flex-start,
    flex-end,
    start,
    space-between,
    space-around,
    space-evenly,
    stretch,
  ),
);

@include class__generate($-short-name, $-declarations, $-options);
