@use 'sass:map';
@use '../../abstracts' as *;

$-options: (
  can-generate-class: $options-layout__can-generate-class,
  can-is-component: $options-layout__is-component,
  can-set-modifier: $options-layout__can-set-modifier,
  can-set-prefix: $options-layout__can-set-prefix,
  prefix: $options-layout__prefix,
);
$-short-name: 'h';
$-values: (
  'full': 100%,
  'screen': 100vh,
  'svh': 100svh,
  'lvh': 100lvh,
  'dvh': 100dvh,
  'fit': fit-content,
  'min': min-content,
  'max': max-content,
  'auto': auto,
);
$-values: map.merge($-values, $size__values);
$-values: map.merge($-values, map__get-grid-items(2));
$-values: map.merge($-values, map__get-grid-items(3));
$-values: map.merge($-values, map__get-grid-items(4));
$-values: map.merge($-values, map__get-grid-items(5));
$-values: map.merge($-values, map__get-grid-items(6));
$-declarations: (
  mixins: (
    'height',
  ),
  values: $-values,
);

@include class__generate($-short-name, $-declarations, $-options);
